html body{
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

header{
  display: flex;
}

#logoHeader{
  margin: 30px;
}

.navBar{
  display: flex;
  width: 30%;
  height: 25px;
  justify-content: space-between;
  margin: 40px auto;
}

.btn{
  width: 150px;
  height: 45px;
  background-color: white;
  border-radius: 50px;
  border: 2px solid #000000;
  text-align: center;
  padding: 10px;
  margin-top: 15px;
  margin-right: 40px;
}

.btn:hover{
  background-color: #ececec;
  cursor: pointer;
}

#pageAccueil{
  width: 100%;
  height: 766px;
  background-color: #000000;
  display: flex;
  flex-direction: row;
}

#containerTexteAccueil{
  width: 50%;
  color: white;
}

#titreAccueil{
  width: 500px;
  height: 63px;
  margin-top: 160px;
  margin-left: 120px;
}

#paragrapheAccueil{
  width: 450px;
  font-size: 20px;
  margin-top: 120px;
  margin-left: 120px;
}

#backgroundHeader{
  width: 55%;
}

#containerTexteAccueil .btn{
  margin-left: 500px;
  margin-top: 100px;
  color: #000000;
}

#pageNosOffres{
  width: 90%;
  margin: 0 auto;
}

#titreNosOffres{
  font-size: 40px;
  font-weight: bolder;
  margin-top: 40px;
  margin-left: 100px;
}

#paragrapheNosOffres{
  margin-left: 100px;
  font-size: 20px;
}

#containerNosOffres{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
}

#telemarketing{
  width: 500px;
  height: 560px;
  background-color: #ffffff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}

#logoTelemarketing{
  margin-left: 20px;
  margin-top: 20px;
}

#titreTelemarketing{
  width: 300px;
  float: right;
  margin-right: 70px;
}

#paragrapheTelemarketing{
  width: 300px;
  margin-left: 50px;
  margin-top: 50px;
  font-size: 20px;
}

#prospection{
  width: 500px;
  height: 560px;
  background-color: #ffffff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  margin-top: 10px;
}

#logoProspection{
  margin-left: 20px;
  margin-top: 20px;
}

#titreProspection{
  width: 300px;
  float: right;
  margin-right: 70px;
}

#paragrapheProspection{
  width: 300px;
  margin-left: 50px;
  margin-top: 50px;
  font-size: 20px;
}

#leadsManagement{
  width: 500px;
  height: 560px;
  background-color: #ffffff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  margin-top: 10px;
}

#logoLeadsManagement{
  margin-left: 20px;
  margin-top: 20px;
}

#titreLeadsManagement{
  width: 300px;
  float: right;
  margin-right: 70px;
}

#paragrapheLeadsManagement{
  width: 300px;
  margin-left: 50px;
  margin-top: 50px;
  font-size: 20px;
}

#pageContact{
  margin-top: 100px;
  background-color: #efefef;
}

#containerContactForm{
  width: 70%;
  margin: 70px auto;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
}

#titreContact{
  width: 170px;
  font-size: 40px;
  font-weight: bolder;
  margin: 0 auto;
}

#containerContact{
  width: 350px;
  height: 400px;
  background: #FFFFFF;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  margin-bottom: 30px;
}

#logoQuestion{
  width: 70px;
  height: 70px;
  margin-top: 30px;
  margin-left: 20px;
}

#titreQuestion{
  width: 200px;
  font-size: 25px;
  float: right;
  margin-right: 30px;
  margin-top: 30px;
}

#paragrapheQuestion{
  width: 250px;
  margin-left: 20px;
  margin-top: 30px;
  font-size: 18px;
}

#containerForm{
  width: 900px;
  height: 450px;
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  justify-content: space-between;
  margin-bottom: 70px;
}

#containerForm2{
  width: 80%;
}

#containerQuestionForm{
  width: 300px;
  margin-top: 50px;
  margin-left: 50px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

#textePrenom{
  width: 200px;
}

#nomPrenom{
  width: 250px;
  height: 45px;
  border: none;
  margin-top: 10px;
  background-color: #eee9e9;
}

#texteMail{
  width: 200px;
  margin-top: 10px;
}

#mail{
  width: 250px;
  height: 45px;
  border: none;
  margin-top: 10px;
  background-color: #eee9e9;
}

#texteTelephone{
  width: 200px;
  margin-top: 10px;
}

#telephone{
  width: 250px;
  height: 45px;
  border: none;
  margin-top: 10px;
  background-color: #eee9e9;
}

#texteVotreProjet{
  width: 200px;
  margin-top: 50px;
}

#containerProjet{
  display: flex;
  width: 420px;
  flex-direction: column;
  margin-right: 70px;
}

#votreProjet{
  margin-top: 20px;
  border: none;
  background-color: #eee9e9;
}

footer{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 52px;
  display: flex;
  justify-content: space-between;
}

#logoFooter{
  width: 200px;
  height: 25px;
  margin: 10px;
}

#containerContactFooter{
  display: flex;
  width: 740px;
  height: 32px;
  margin-top: 10px;
  margin-right: 40px;
  flex-wrap: wrap;
  justify-content: space-between;
}

#containerContactFooter span{
  font-weight: bold;
}

@media (max-width: 1199px){

  #pageAccueil{
    flex-direction: row-reverse;
  }

}

@media (max-width: 1782px){

  #backgroundHeader{
    display: none;
  }

  #pageAccueil{
    flex-direction: row;
  }



}

@media (max-width: 975px){

  .navBar{
    display: none;
  }

  header .btn{
    display: none;
  }

  #containerTexteAccueil{
    width: 100%;
    color: white;
  }

  #titreAccueil{
    width: 90%;
    height: 63px;
    margin-top: 160px;
    margin-left: 30px;
  }

  #paragrapheAccueil{
    width: 90%;
    font-size: 20px;
    margin-top: 120px;
    margin-left: 30px;
  }

  #containerTexteAccueil .btn{
    margin-left: 30px;
    margin-top: 100px;
    color: #000000;
  }

  #pageNosOffres{
    width: 90%;
    margin-left: 0;
  }

  #titreNosOffres{
    font-size: 40px;
    font-weight: bolder;
    margin-top: 40px;
    margin-left: 30px;
  }

  #paragrapheNosOffres{
    margin-left: 30px;
    font-size: 20px;
  }
}

@media (max-width: 924px){

  #containerContactForm{
    width: 70%;
    margin: 70px auto;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
  }

  #telemarketing{
    width: 90%;
    height: 400px;
    background-color: #ffffff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
  }

  #logoTelemarketing{
    width: 60px;
    height: 60px;
    margin-left: 20px;
    margin-top: 20px;
  }

  #titreTelemarketing{
    width: 200px;
    float: right;
    font-size: 25px;
    margin-right: 20px;
  }

  #paragrapheTelemarketing{
    width: 300px;
    margin-left: 20px;
    margin-top: 50px;
    font-size: 14px;
  }

  #prospection{
    width: 90%;
    height: 400px;
    background-color: #ffffff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
  }

  #logoProspection{
    width: 60px;
    height: 60px;
    margin-left: 20px;
    margin-top: 20px;
  }

  #titreProspection{
    width: 200px;
    float: right;
    font-size: 25px;
    margin-right: 20px;
  }

  #paragrapheProspection{
    width: 300px;
    margin-left: 20px;
    margin-top: 50px;
    font-size: 14px;
  }

  #leadsManagement{
    width: 90%;
    height: 400px;
    background-color: #ffffff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
  }

  #logoLeadsManagement{
    width: 60px;
    height: 60px;
    margin-left: 20px;
    margin-top: 20px;
  }

  #titreLeadsManagement{
    width: 200px;
    float: right;
    font-size: 25px;
    margin-right: 20px;
  }

  #paragrapheLeadsManagement{
    width: 300px;
    margin-left: 20px;
    margin-top: 50px;
    font-size: 14px;
  }

  #containerContact{
    width: 350px;
    height: 350px;
    background: #ffffff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    margin-bottom: 30px;
  }

  #logoQuestion{
    width: 50px;
    height: 50px;
    margin-top: 30px;
    margin-left: 20px;
  }

  #titreQuestion{
    width: 150px;
    font-size: 20px;
    float: right;
    margin-top: 30px;
  }

  #paragrapheQuestion{
    width: 250px;
    margin-left: 20px;
    margin-top: 30px;
    font-size: 18px;
  }

  #containerForm{
    width: 340px;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: none;
    margin-bottom: 70px;
    background-color: #efefef;
  }

  #containerQuestionForm{
    width: 200px;
    margin-top: 50px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
  }

  #textePrenom{
    width: 200px;
  }

  #nomPrenom{
    width: 200px;
    height: 45px;
    border: none;
    margin-top: 10px;
    background-color: #ffffff;
  }

  #texteMail{
    width: 200px;
    margin-top: 10px;
  }

  #mail{
    width: 200px;
    height: 45px;
    border: none;
    margin-top: 10px;
    background-color: #ffffff;
  }

  #texteTelephone{
    width: 200px;
    margin-top: 10px;
  }

  #telephone{
    width: 200px;
    height: 45px;
    border: none;
    margin-top: 10px;
    background-color: #ffffff;
  }

  #containerProjet{
    display: flex;
    width: 420px;
    flex-direction: column;
    margin-right: 0;
  }

  #votreProjet{
    background-color: #ffffff;
  }

  #containerNosOffres{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    background-color: #ffffff;
    margin-left: 50px;
  }

  #containerContactFooter{
    display: flex;
    width: 100%;
    height: 32px;
    margin-top: 10px;
    margin-right: 40px;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  footer{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 52px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  #pageContact{
    margin-top: 100px;
    background-color: #efefef;
  }

}


